.matrix-view-table {
  margin: -1px;
  width: calc(100% + 2px);

  --hover-bg: var(--bs-tertiary-bg);
}

.matrix-view-table thead th,
.matrix-view-table tbody td:first-child {
  font-weight: 500;
  user-select: none;
}

.matrix-view-table thead th.leftover,
.matrix-view-table tbody td:first-child.leftover {
  background-color: red;
}

.matrix-view-table tr.hovered-row td,
.matrix-view-table td.hovered-col,
.matrix-view-table th.hovered-col,
.matrix-view-table tr.hovered-row td.hovered-col {
  background-color: var(--hover-bg);
}

.matrix-view-table .matrix-view-table-head {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
