.relevant-pred-indicator {
  display: flex;
  height: 100%;
}

.relevant-pred-indicator .relevant-pred-indicator-pred {
  border-radius: 100px;
  outline: 2px solid white;
}

.relevant-pred-indicator.size-md .relevant-pred-indicator-pred {
  height: 18px;
  width: 18px;
  margin-left: -6px;
}

.relevant-pred-indicator.size-sm .relevant-pred-indicator-pred {
  height: 1rem;
  width: 1rem;
  margin-left: -4px;
}
