.predicate-node-handle-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.predicate-node-handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: unset;
  transform: none;
  border: none;
  opacity: 0;
  z-index: 2;

  transition: opacity 0.1s cubic-bezier(0.33, 1, 0.68, 1) 0.15s;
}

.predicate-node-handle.source:hover {
  background-color: var(--bs-black);
  opacity: 0.05;
}

.predicate-node-handle.target {
  z-index: 10;
}

.predicate-node-delete-button {
  z-index: 100;
  transform: scale(0.6);
  position: absolute;
  top: -15px;
  right: -15px;
}
