.predicate-node-indicator {
  display: flex;
  position: absolute;
  inset: 0;
  z-index: 1;
  height: 12px;
  overflow: hidden;
  pointer-events: none;
}

.predicate-node-indicator-item {
  background: repeating-linear-gradient(
    -45deg,
    currentColor,
    currentColor 7px,
    color-mix(in srgb, currentColor 20%, transparent) 7px,
    color-mix(in srgb, currentColor 20%, transparent) 14px
  );

  background-color: currentColor;
  flex-grow: 1;
  z-index: 3;
}

.predicate-node-indicator-stripy-overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  --stripe-overlay-bg: rgba(255, 255, 255, 0.8);

  background: repeating-linear-gradient(
    -45deg,
    var(--stripe-overlay-bg),
    var(--stripe-overlay-bg) 6px,
    transparent 6px,
    transparent 12px
  );
  mix-blend-mode: lighten;
  z-index: 2;
}

.predicate-node-indicator .stripy {
  z-index: 1;
}
