.case-tree-view {
  align-items: stretch;
  height: fit-content;
  align-self: center;
}

.case-tree-view-wrapper {
  overflow: auto;
  padding: 1rem;
  display: flex;
  min-height: 300px;
  width: 100%;
  align-items: center;
}

.case-tree-view-node-stack {
  position: relative;
}

.case-tree-view-label {
  align-self: center;
}

.case-tree-view-branches {
  height: fit-content;
  align-self: center;
}

.case-tree-view .form-control {
  width: 3rem;
}

.case-tree-view .case-tree-view-variable-input {
  font-style: italic;
  text-align: right;
}

.case-tree-view .case-tree-view-match-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  gap: 1px;
}

.case-tree-view .case-tree-view-match-input {
  width: unset;
  min-width: 3rem;
}

.case-tree-view-row {
  width: fit-content;
}

.case-tree-view-row.exhausted {
  margin-bottom: 1.25rem;
}

.case-tree-view-row .form-control.is-invalid,
.case-tree-view-single-value .form-control.is-invalid {
  background-image: none;
  padding-right: 0.5rem;
}

.case-tree-view-row.row-placeholder {
  color: var(--bs-secondary);
}

.case-tree-view-row.row-placeholder:hover:not(.exhausted),
.case-tree-view-row.row-placeholder:focus-within:not(.exhausted) {
  color: var(--bs-body-color);
}

.case-tree-view-row:not(.locked) .form-control:disabled {
  background-color: var(--bs-body-bg);
  border-color: transparent;
  border-style: none;
}

.case-tree-view-row.row-placeholder:not(.locked) .form-control:disabled {
  opacity: 0.6;
}

.case-tree-view-row.row-placeholder:hover:not(.exhausted)
  .form-control:disabled,
.case-tree-view-row.row-placeholder:focus-within:not(.exhausted)
  .form-control:disabled {
  opacity: 1;
  background-image: none;
}

.case-tree-view-row.row-placeholder .form-control:not(:disabled) {
  border-style: dashed;
}

.case-tree-view-row.row-placeholder:hover:not(.exhausted)
  .form-control:not(:disabled),
.case-tree-view-row.row-placeholder:focus-within:not(.exhausted)
  .form-control:not(:disabled) {
  border-style: solid;
}

.case-tree-view-row .any-other-label {
  text-wrap: nowrap;
}

.case-tree-view-row .any-other-label span {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-decoration-color: var(--bs-border-color);
  text-underline-offset: 0.2em;
  cursor: default;
  margin-left: 4px;
}

.case-tree-view .error-message {
  font-size: 0.875rem;
  margin: 0;
  color: var(--bs-danger);
}

.case-tree-view .exhaust-message {
  position: absolute;
  top: 2rem;
  font-size: 0.875rem;
  color: var(--bs-secondary);
}

.cases-brace {
  display: grid;
  grid-template-rows: 0.5rem 1fr 1rem 1fr 0.5rem;
  width: 1rem;
  min-height: 8rem;
  align-self: stretch;
  flex-shrink: 0;
}

.cases-brace > svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.cases-brace-stem {
  margin-left: 37.5%;
  width: 12.5%;
  background: currentColor;
}
