.interval-view {
  align-items: stretch;
  height: fit-content;
  align-self: center;
}

.interval-view-wrapper {
  overflow: auto;
  padding: 1rem;
  display: flex;
  min-height: 300px;
  width: 100%;
  align-items: center;
}

.interval-view-label {
  align-self: center;
}

.interval-view-branches {
  height: fit-content;
  align-self: center;
}

.interval-view .form-control {
  width: 3rem;
}

.interval-view .interval-variable-input {
  font-style: italic;
}

.interval-view-row .form-control.is-invalid,
.single-value-interval .form-control.is-invalid {
  background-image: none;
  padding-right: 0.5rem;
}

.interval-view-row.row-placeholder {
  color: var(--bs-secondary);
}

.interval-view-row.row-placeholder .form-control:disabled {
  opacity: 0.6;
  background-image: repeating-linear-gradient(
    45deg,
    transparent 0px,
    transparent 8px,
    rgba(255, 255, 255, 0.47) 8px,
    rgba(255, 255, 255, 0.47) 16px
  );
}

.interval-view-row.row-placeholder .form-control:not(:disabled) {
  border-style: dashed;
}

.interval-view-row .any-other-label {
  text-wrap: nowrap;
}

.interval-view .error-message {
  font-size: 0.875rem;
  margin: 0;
  color: var(--bs-danger);
}

.cases-brace {
  display: block;
  width: 1rem;
  flex-shrink: 0;
}
