.legend-group {
  min-width: 150px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: none;
  flex-shrink: 1;
  overflow-x: auto;
  padding: 3px 3px;
  scrollbar-width: thin;
}

.element-with-scroll::-webkit-scrollbar {
  height: 4px;
}

.legend-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  gap: 0.5rem;

  min-width: 0;
}

.legend-container p {
  margin: 0;
}

.legend-group legend {
  margin-right: 0.5rem;
}

.chip {
  display: flex;
  line-height: 0;
  align-items: center;
  color: var(--bs-body-color);
  gap: 0.5rem;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: 100px;
  padding: 10px 16px;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.1s ease-in-out;
  user-select: none;
  position: relative;
}

.chip::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 0.25rem color-mix(in srgb, currentColor 25%, transparent);
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.chip input {
  width: 12px;
  height: 12px;
  margin: 0;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.chip .dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: currentColor;
}

.chip p {
  margin: 0;
  line-height: 1;
  margin-bottom: 1px;
  color: var(--bs-body-color);
}

.chip:has(input:checked) {
  border-color: currentColor;
  background-color: color-mix(in srgb, currentColor 10%, transparent);
}

/* Keyboard focus visible */
.chip:focus-within::after,
.chip:has(input:active)::after {
  opacity: 1;
}

.domain-elements {
  border-radius: var(--bs-border-radius);
  border-radius: 100px;
  border: 1px solid #e0e0e0;
  background: white;
  max-width: 280px;
  height: fit-content;
  position: relative;
  text-wrap: nowrap;
  flex-shrink: 0;
  margin-bottom: 3px;
  color: var(--bs-dark);
}

.domain-header {
  border-radius: inherit;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  color: inherit;

  width: 100%;
  border: none;
  background: transparent;
  padding: 0.75rem;
  text-align: left;
  cursor: pointer;

  transition: background-color 0.1s ease-in-out;
}

.domain-header:hover {
  background-color: var(--color-hover-bg);
}

.domain-header:focus-visible {
  border-color: #0b79d0;
  box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
  outline: none;
}

.domain-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 16px 12px;
  position: absolute;
  z-index: 1000;
  background-color: white;
  min-width: 320px;
  max-height: 400px;
  overflow-y: auto;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  right: -12px;
  top: calc(40px + 0.5rem);

  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.domain-filter-icon-container {
  position: relative;
  width: 1rem;
  height: 1rem;
  display: flex;
}

.domain-filter-indicator {
  position: absolute;
  right: -6px;
  top: -4px;

  background-color: var(--bs-blue);
  border-radius: 100px;
  width: 10px;
  height: 10px;
  position: absolute;
  scale: 0;

  transition: scale 0.1s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.domain-elements.active {
  border-color: var(--bs-blue);
  background-color: color-mix(
    in srgb,
    var(--bs-primary-bg-subtle) 40%,
    transparent 60%
  );
}

.domain-elements.active .domain-filter-indicator {
  scale: 1;
}

.select-head {
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  color: #454545;
}

.element-list-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.body-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body-header p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.divider {
  left: 0;
  right: 0;
  background-color: var(--bs-border-color);
  height: var(--bs-border-width);
  margin-inline: -12px;
}

.select-all {
  color: #171717;
  font-family: inherit;
  font-size: 0.8rem;
  background-color: oklch(97% 0 0);
  border: 0px solid #e7e7e7;
  padding: 2px 8px;
  font-weight: 400;
  border-radius: 6px;
  cursor: pointer;
  width: fit-content;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.select-all:focus-visible {
  box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
  outline: none;
}

.select-all svg {
  font-size: 0.8rem;
}

.element-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  list-style: none;
  padding: 0;
  margin: 0;
}

.element-item {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;

  color: var(--bs-dark);
  font-size: 1.15rem;
  width: 100%;
  text-align: left;
  background-color: white;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: 6px;
  padding: 10px 16px;
  font-weight: 400;
  cursor: pointer;
  outline: none;

  transition: background-color 0.1s ease-in-out;
}

.element-item:hover {
  background-color: var(--color-hover-bg);
}

.element-item.active:hover {
  background-color: unset;
}

.element-item.active:hover::before {
  opacity: 0.15;
}

.element-item * {
  z-index: 1;
}

.element-item.active {
  border: 1px solid #4dacff;
}

.element-item.active::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.1;
  background: repeating-linear-gradient(
    -45deg,
    #0088ff,
    #0088ff 35px,
    #4eadff 35px,
    #4eadff 70px
  );
}

.element-item:focus-visible {
  border-color: #0b79d0;
  box-shadow: 0 0 0 0.2rem rgba(11, 121, 208, 0.3);
}

.relevant-preds-list {
  display: flex;
  height: 100%;
}

.relevant-preds-list .relevant-pred {
  height: 18px;
  width: 18px;
  border-radius: 100px;
  outline: 2px solid white;
  margin-left: -6px;
}
