.query-result-container {
  font-size: 0.875rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  border-radius: var(--bs-border-radius);
  border: 1px solid var(--bs-border-color);
}

.query-result-title {
  background-color: var(--bs-tertiary-bg);
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
  border-bottom: 1px solid var(--bs-border-color);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.query-result-title .btn-close {
  --bs-btn-close-color: var(--bs-body-color);
  --bs-btn-close-opacity: 1;
}

.query-result-table {
  margin: 0;
  --bs-table-hover-bg: var(--bs-tertiary-bg);
}

.query-result-table.stale td {
  opacity: 0.6;

  background: repeating-linear-gradient(
    -45deg,
    var(--bs-tertiary-bg),
    var(--bs-tertiary-bg) 6px,
    transparent 6px,
    transparent 12px
  );
}

.query-result-table thead tr {
  border-top: 0;
}

.query-result-table th:not(:last-child),
.query-result-table td:not(:last-child) {
  max-width: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.query-result-table tr td:first-child,
.query-result-table tr th:first-child {
  border-left: 0;
}

.query-result-table tr td:last-child,
.query-result-table tr th:last-child {
  border-right: 0;
}

.query-result-table tr:last-child {
  border-bottom: 0;
}

.query-result-table-scroll-wrapper {
  max-height: 295px;
  overflow: auto;
}

.query-result-display-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  border-block: 1px solid var(--bs-border-color);
}

.query-result-display-buttons:last-child {
  border-bottom: 0;
}

.query-result-table-title {
  padding-block: 0.5rem;
  padding-left: 0.5rem;
}

.query-result-table-title span:has(svg) {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.query-result-table-title span + span {
  margin-left: 0.5rem;
}

.query-result-table-title:has(+ .query-result-table-scroll-wrapper) {
  border-bottom: 1px solid var(--bs-border-color);
}

.query-result-table-title .total-count {
  color: var(--bs-secondary-color);
}

.query-result-table-title .description strong {
  font-weight: 600;
}

.query-result-table-title.success .description {
  color: var(--bs-success);
}

.query-result-table-title.warning .description {
  color: var(--bs-danger);
}

.query-result-table-title.danger .description {
  color: var(--bs-danger);
}
