.intr-filters-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;

  min-width: 0;

  gap: 0.5rem;
}

.unary-preds-filters-group {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 0.25rem;
  scrollbar-width: thin;
  -webkit-user-select: none;
  user-select: none;

  min-width: 0;
}

.unary-preds-filters-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 0;
}

.scroll-button {
  border: none;
  background: none;
  color: var(--bs-body-color);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding-inline: 0.5rem;

  color: #171717;
  font-size: 0.875rem;
  background-color: oklch(97% 0 0);
  border-radius: 4px;
  z-index: 1;
  pointer-events: all;
  user-select: none;
  -webkit-user-select: none;
}

.scroll-button-background {
  position: absolute;
  top: 0;
  padding-block: 0.25rem;
  height: 42px;
  border: none;
  color: var(--bs-body-color);
  z-index: 2;
  display: flex;
  pointer-events: none;
}

.scroll-button-background.left {
  left: -1px;
  padding-left: 0;
  padding-right: 20px;

  background: linear-gradient(
    to right,
    color-mix(in srgb, white 100%, transparent) 70%,
    transparent
  );
}

.scroll-button-background.right {
  right: -1px;
  padding-right: 0;
  padding-left: 20px;

  background: linear-gradient(
    to left,
    color-mix(in srgb, white 100%, transparent) 70%,
    transparent
  );
}

.intr-filters-divider {
  width: var(--bs-border-width);
  height: 34px;
  background-color: var(--bs-light-border-subtle);
  margin-top: 0.25rem;
}

.intr-filter-no-elements-info {
  font-size: 0.875rem;
  align-self: center;
  color: var(--bs-secondary-color);
  -webkit-user-select: none;
  user-select: none;
}
