.graphViewContainer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 1rem;
  min-height: 400px;
}

.graphViewItem {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.fullscreen {
  background-color: white;
  position: fixed;
  inset: 20px;
  z-index: 100;
}

.intrErrorContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.warnIconBox {
  background-color: rgba(var(--bs-danger-rgb), 0.1);
  padding: 0.8rem;
  border-radius: 100%;
}

.intrErrorContainer h5 {
  max-width: fit-content;
  text-align: center;
}

.warnText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
