.graphViewContainer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 1rem;
}

.graphViewItem {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.fullscreen {
  background-color: white;
  position: fixed;
  inset: 20px;
  z-index: 100;
}
